
.faq_question {
  grid-column-gap: var(--_responsive---size--30);
  grid-row-gap: var(--_responsive---size--30);
  flex-flow: column;
  display: flex;
}

.faq_trigger {
  justify-content: space-between;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.faq_content {
  padding-bottom: var(--_responsive---size--30);
  display: none;
}

.faq_content p {
  font-size: var(--_responsive---font-size--18);
  text-transform: none;
  font-weight: 400;
  line-height: 1.33;
}

@media only screen and (min-width: 992px) and (max-width: 1300px)  {
  .faq_content p {font-size: 1.38em;}
}



.faq_croix {
  width: var(--_responsive---size--30);
  height: var(--_responsive---size--30);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  transition: transform 0.3s ease;
}

.faq_croix.rotated {
  transform: rotate(45deg);
}



.faq_bar {
  width: var(--_responsive---size--30);
  background-color: var(--color--black);
  height: 3px;
  position: absolute;
}

.faq_bar.is-vertical {
  transform: rotate(90deg);
}

.faq {
  grid-column-gap: var(--_responsive---size--30);
  grid-row-gap: var(--_responsive---size--30);
  flex-flow: column;
  display: flex;
}
