
.page-image_wrapper {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.page-image_image {
  width: var(--100);
  height: var(--100);
  object-fit: cover;
}

.page_wrapper {
  width: var(--100);
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.page_content {
  padding: var(--_responsive---size--240) var(--_responsive---size--120);
  grid-column-gap: var(--_responsive---size--120);
  grid-row-gap: var(--_responsive---size--120);
  flex-flow: column;
  flex: none;
  width: 50em;
  display: flex;
}


.page_content_title_wrapper {
  grid-column-gap: var(--_responsive---size--30);
  grid-row-gap: var(--_responsive---size--30);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
